

<div style="margin: 50px;">

  <h2>Sample Generated Data from the Data Synthesizer</h2>
  <div>{{recordCount}} records generated in {{genTimeMsec}} milliseconds</div>

  <table style="margin-top: 32px;">

    <tr>
      <th>ID</th>
      <th>UUID</th>
      <th>Person</th>
      <th>Person name combined</th>
      <th>Weight (lbs)</th>
      <th>Favorite Color</th>
      <th>Date Created</th>
      <th>Pets</th>
      <th>Friend</th>
    </tr>
    <tr *ngFor="let item of generatedDataset">

      <td>{{item.id}}</td>
      <td>{{item.uuid}}</td>

      <td>{{item.personLastName}}, {{item.personFirstName}}</td>
      <td>{{item.firstAndLastName}}</td>
      <td>{{item.weight_lbs}} lbs</td>
      <td>{{item.favoriteColor}}</td>
      <td>{{formatDate(item.dateCreated)}}</td>
      <td><div>has dog {{item.personPets.hasDog}}</div>
        <div>has Cat {{item.personPets.hasCat}}</div>
        <div>has Fish {{item.personPets.hasFish}}</div></td>

      <td>{{item.friendName}}</td>

    </tr>

  </table>

</div>

<router-outlet></router-outlet>
