
body {
  font-family: Ubuntu, Roboto, Helvetica, sans-serif;
}

table {

  tr {

    th {
      text-align: left;
      font-weight: normal;
      color: #999999;
      padding-right:25px;
    }

    td {
      padding-right:25px;
    }

  }

}
