
body {
  font-family: Ubuntu, Roboto, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
  color: #666666;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

table {

  tr {

    th {
      text-align: left;
      font-weight: normal;
      color: #999999;
      padding-right:25px;
    }

    td {
      padding-right:25px;
      vertical-align: top;
    }

  }

}


.hist-axis line{
  stroke: #999999;
}

.hist-axis path{
  stroke: #999999;
}

.hist-axis text{
  fill: #999999;
}
